{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table>
        <thead>
          <tr>
            <th scope = "col">Symbols</th>
            <th scope = "col">Shares</th>
            <th scope = "col">Price</th>
          </tr>
        </thead>
        <tbody>
             {% for row in database %}
             <tr>
                 <th>{{ row["symbol"] }}</th>
                 <th>{{ row["shares"] }}</th>
                 <th>{{ row["price"] }}</th>
             </tr>
             {% endfor %}
        </tbody>
     </table>
{% endblock %}